In [1]:
# Importing Dependencies
import pandas as pd
import numpy as np

In [4]:
# Bringing in Uncleaned CSV's
csv1 = "Data/2014-01 - Citi Bike trip data.csv"
csv2 = "Data/2014-02 - Citi Bike trip data.csv"
bike_trip_2014_1 = pd.read_csv(csv1)
bike_trip_2014_2 = pd.read_csv(csv2)

In [5]:
# Viewing the 2014_1 Data
bike_2014_1_df = bike_trip_2014_1
bike_2014_1_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1

In [6]:
# Viewing the 2014_2 Data
bike_2014_2_df = bike_trip_2014_2
bike_2014_2_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2

In [7]:
# Deleting Columns
del bike_2014_1_df['usertype']
del bike_2014_2_df['usertype']

In [8]:
bike_2014_1_df.head(5)
bike_2014_2_df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,1990,1

In [9]:
# Checking Type of Values
bike_2014_1_df.dtypes
bike_2014_2_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
birth year                  object
gender                       int64
dtype: object

In [10]:
# Changing The Type of Values for the Gender Column for 2014_1
bike_2014_1_df['gender'] = bike_2014_1_df['gender'].astype(str)

In [11]:
#Changing The Type of Values for the Gender Column for 2014_2
bike_2014_2_df['gender'] = bike_2014_2_df['gender'].astype(str)

In [12]:
# Changing the Numeric Gender Values to Actual Gender Values For The 2014_1 CSV
gender_check_2014_1 = bike_2014_1_df['gender']
changed_2014_1_male = gender_check_2014_1.replace('1', 'Male')
changed_2014_1_female = changed_2014_1_male.replace('2', 'Female')
changed_2014_1_unknown = changed_2014_1_female.replace('0', 'Unknown')
bike_2014_1_df['gender'] = changed_2014_1_unknown
bike_2014_1_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,1986,Male
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,1963,Male
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,1991,Male
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,1989,Male
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,1990,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300395,780,2014-01-31 23:57:34,2014-02-01 00:10:34,308,St James Pl & Oliver St,40.713079,-73.998512,312,Allen St & E Houston St,40.722055,-73.989111,17299,1988,Male
300396,1074,2014-01-31 23:57:45,2014-02-01 00:15:39,482,W 15 St & 7 Ave,40.739355,-73.999318,488,W 39 St & 9 Ave,40.756458,-73.993722,19886,1982,Male
300397,191,2014-01-31 23:58:16,2014-02-01 00:01:27,247,Perry St & Bleecker St,40.735354,-74.004831,368,Carmine St & 6 Ave,40.730386,-74.002150,20249,1969,Female
300398,1052,2014-01-31 23:58:34,2014-02-01 00:16:06,482,W 15 St & 7 Ave,40.739355,-73.999318,488,W 39 St & 9 Ave,40.756458,-73.993722,19922,1981,Female
300399,1133,2014-01-31 23:58:43,2014-02-01 00:17:36,450,W 49 St & 8 Ave,40.762272,-73.987882,294,Washington Square E,40.730494,-73.995721,18944,1969,Male

In [13]:
# Changing the Numeric Gender Values to Actual Gender Values For The 2014_2 CSV
gender_check_2014_2 = bike_2014_2_df['gender']
changed_2014_2_male = gender_check_2014_2.replace('1', 'Male')
changed_2014_2_female = changed_2014_2_male.replace('2', 'Female')
changed_2014_2_unknown = changed_2014_2_female.replace('0', 'Unknown')
bike_2014_2_df['gender'] = changed_2014_2_unknown
bike_2014_2_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,1991,Male
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,1979,Female
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,1948,Female
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,1981,Male
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,1990,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224731,848,2014-02-28 23:57:13,2014-03-01 00:11:21,498,Broadway & W 32 St,40.748549,-73.988084,432,E 7 St & Avenue A,40.726218,-73.983799,17413,1976,Male
224732,1355,2014-02-28 23:57:55,2014-03-01 00:20:30,470,W 20 St & 8 Ave,40.743453,-74.000040,302,Avenue D & E 3 St,40.720828,-73.977932,15608,1985,Female
224733,304,2014-02-28 23:58:17,2014-03-01 00:03:21,497,E 17 St & Broadway,40.737050,-73.990093,334,W 20 St & 7 Ave,40.742388,-73.997262,17112,1968,Male
224734,308,2014-02-28 23:59:10,2014-03-01 00:04:18,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,365,Fulton St & Grand Ave,40.682232,-73.961458,14761,1982,Male
224735,603,2014-02-28 23:59:47,2014-03-01 00:09:50,252,MacDougal St & Washington Sq,40.732264,-73.998522,475,E 16 St & Irving Pl,40.735243,-73.987586,18783,1960,Male

In [16]:
# Rearranging the Columns
bike_2014_1_df_organized = bike_2014_1_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2014_2_df_organized = bike_2014_2_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2014_1_df_organized.head(5)
bike_2014_2_df_organized.head(5)

,bikeid,gender,birth year,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,21101,Male,1991,382,294,Washington Square E,40.730494,-73.995721,2014-02-01 00:00:00,265,Stanton St & Chrystie St,40.722293,-73.991475,2014-02-01 00:06:22
1,15456,Female,1979,372,285,Broadway & E 14 St,40.734546,-73.990741,2014-02-01 00:00:03,439,E 4 St & 2 Ave,40.726281,-73.989780,2014-02-01 00:06:15
2,16281,Female,1948,591,247,Perry St & Bleecker St,40.735354,-74.004831,2014-02-01 00:00:09,251,Mott St & Prince St,40.723180,-73.994800,2014-02-01 00:10:00
3,17400,Male,1981,583,357,E 11 St & Broadway,40.732618,-73.991580,2014-02-01 00:00:32,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,2014-02-01 00:10:15
4,19341,Male,1990,223,401,Allen St & Rivington St,40.720196,-73.989978,2014-02-01 00:00:41,439,E 4 St & 2 Ave,40.726281,-73.989780,2014-02-01 00:04:24

In [17]:
# Renaming the Columns
bike_2014_1_renamed_df = bike_2014_1_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})

bike_2014_2_renamed_df = bike_2014_2_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})



bike_2014_1_renamed_df
bike_2014_2_renamed_df

,Bike ID,Gender,Birth Year,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Stop Time
0,21101,Male,1991,382,294,Washington Square E,40.730494,-73.995721,2014-02-01 00:00:00,265,Stanton St & Chrystie St,40.722293,-73.991475,2014-02-01 00:06:22
1,15456,Female,1979,372,285,Broadway & E 14 St,40.734546,-73.990741,2014-02-01 00:00:03,439,E 4 St & 2 Ave,40.726281,-73.989780,2014-02-01 00:06:15
2,16281,Female,1948,591,247,Perry St & Bleecker St,40.735354,-74.004831,2014-02-01 00:00:09,251,Mott St & Prince St,40.723180,-73.994800,2014-02-01 00:10:00
3,17400,Male,1981,583,357,E 11 St & Broadway,40.732618,-73.991580,2014-02-01 00:00:32,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,2014-02-01 00:10:15
4,19341,Male,1990,223,401,Allen St & Rivington St,40.720196,-73.989978,2014-02-01 00:00:41,439,E 4 St & 2 Ave,40.726281,-73.989780,2014-02-01 00:04:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224731,17413,Male,1976,848,498,Broadway & W 32 St,40.748549,-73.988084,2014-02-28 23:57:13,432,E 7 St & Avenue A,40.726218,-73.983799,2014-03-01 00:11:21
224732,15608,Female,1985,1355,470,W 20 St & 8 Ave,40.743453,-74.000040,2014-02-28 23:57:55,302,Avenue D & E 3 St,40.720828,-73.977932,2014-03-01 00:20:30
224733,17112,Male,1968,304,497,E 17 St & Broadway,40.737050,-73.990093,2014-02-28 23:58:17,334,W 20 St & 7 Ave,40.742388,-73.997262,2014-03-01 00:03:21
224734,14761,Male,1982,308,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,2014-02-28 23:59:10,365,Fulton St & Grand Ave,40.682232,-73.961458,2014-03-01 00:04:18
224735,18783,Male,1960,603,252,MacDougal St & Washington Sq,40.732264,-73.998522,2014-02-28 23:59:47,475,E 16 St & Irving Pl,40.735243,-73.987586,2014-03-01 00:09:50